.ui-content {
	max-width: 800px;
}

.custom-corners .ui-bar {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;	
}

.custom-corners .ui-body {
	border-top-width: 0;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.mainswitch_cont {
	display: flex;	
}

.ss_cont {
	display: float;	
	background-color: RGBa(0,0,0,.8);	
	max-width: 320px;	
}

.ss_cont h3 {
	margin-block-end: 0.1em;
	margin-block-start: 0.1em;
	text-align: right;	
	padding-inline-end: 1em;		
}

ul.keyvaluepairs {	
	list-style-type: none;
	padding-inline-start: 0px;
	font-size: 0.8em;
	min-width: 80px;
}  

ul.keyvaluepairs li span {
	padding-inline-start: 1em;
	text-overflow: ellipsis;
	font-size: initial;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ui-collapsible-heading .ui-button { border-top-width: 1px !important; }